@media only screen and (max-aspect-ratio: 768/1024) and (max-width: 769px) {
  html {
    font-size: calc(100 * 1vw / 768);
  }
  .container {
    width: 100vw;
  }
}

@media only screen and (min-aspect-ratio: 768/1024) and (max-width: 769px) {
  html {
    font-size: calc(100 * 1vh / 1024);
  }
  .container {
    height: 100vh;
  }
}
@media only screen and (max-width: 769px) {
  .container {
    aspect-ratio: 768/1024;
  }
  .container_right {
    width: 96rem;
  }
  .container_right > img:nth-child(2) {
    margin-left: 70rem;
  }
  .department-detail {
    padding: 11rem 24rem;
  }
}
